body {
	background: url('images/sea.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	
}


img {
	max-width: 300px;
	max-height: 300px;
}


#header {
	color: white;
	text-align: center;
	padding-bottom: 50%;
 
}

#title {
	font-size: 400%;
	font-family: 'Jim Nightshade', cursive;
}

.sub {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	background: -moz-linear-gradient(top,  rgba(56,56,56,0.7) 0%, rgba(56,56,56,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,56,56,0.7)), color-stop(100%,rgba(56,56,56,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(56,56,56,0.7) 0%,rgba(56,56,56,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(56,56,56,0.7) 0%,rgba(56,56,56,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(56,56,56,0.7) 0%,rgba(56,56,56,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(56,56,56,0.7) 0%,rgba(56,56,56,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3383838', endColorstr='#b3383838',GradientType=0 ); /* IE6-9 */
}

.col-md-4{
	text-align: center;
	height: 440px;

}
.col-md-8{
	text-align: center;
	height: 440px;

}




.image_title {
	font-size: 200%;
	padding-top: 10px;
	font-family: 'Jim Nightshade', cursive;
}


/*IMAGES*/
#three_cards {
	background-image: url('images/tarot_three.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;

}

#celtic_cross {
	background-image: url('images/tarot_cc.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#pentagram {
	background-image: url('images/tarot_pent.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#journey {
	background-image: url('images/tarot_journey.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#branching_path {
	background-image: url('images/tarot_bp.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#duality {
	background-image: url('images/tarot_duality.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#norns {
	background-image: url('images/rune_norn.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#nine_worlds {
	background-image: url('images/rune_nine.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#falling_leaves {
	background-image: url('images/rune_fl.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#shield {
	background-image: url('images/rune_shield.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#single {
	background-image: url('images/rune_single.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#wheel_of_the_year {
	background-image: url('images/rune_woty.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#russian_card {
	background-image: url('images/russian_only.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
/*END OF IMAGES*/

#text1 {
	color: white;
	padding-left: 50px;
	
	background: -moz-linear-gradient(top,  rgba(10,14,10,0.8) 0%, rgba(10,8,9,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,14,10,0.8)), color-stop(100%,rgba(10,8,9,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0a0e0a', endColorstr='#cc0a0809',GradientType=0 ); /* IE6-9 */

}

.text_background {
	background-color: black;
	color: white;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 3%;

	background: #666666; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #666666 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#666666), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #666666 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #666666 0%,#000000 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #666666 0%,#000000 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #666666 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */




}


.section_title {
	color: black;
	font-size: 300%;
	font-family: 'Jim Nightshade', cursive;

	background-size: 50%;
	text-align: center;
	padding-right: 30px;
	padding-top: 5px;
	
	background: #FFFFFF; 






}

.section_subtitle {
	color: white;
	font-size: 40px;
	font-family: 'Jim Nightshade', cursive;
	text-align: center;
	padding-left: 20px;
	padding-top: 10px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.8) 3%, rgba(10,8,9,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(3%,rgba(0,0,0,0.8)), color-stop(100%,rgba(10,8,9,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#cc0a0809',GradientType=0 ); /* IE6-9 */



}

.description {
	text-align: left;
	max-height: 400px;
	height: 200px;
}


.btn.btn-default {
	margin-bottom: 5%;
	margin-top: 3%;
}




#form {
	width: 100%;
	height: 100%;
}



#donate {
	padding-bottom: 50%;
}





#nav_footer {
			  
}

#nav {

	position:fixed;
	   bottom:0;
	   width:100%;

	text-align: center;
	font-family: 'Jim Nightshade', cursive;


	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 18%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(18%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}


nav ul  {
	list-style-type: none;
	max-width: 100%;
	padding-top: 5px;


}

nav ul li {

	padding-right: 3%;


	border-collapse: collapse;
	
	
	
	font-size: 220%;
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	color: white;
}
