body {
	background: url('images/tree3.JPG');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: 100% 100%;

	
}



td {
	max-width: 500px;

	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

img {
	max-width: 300px;
	max-height: 300px;
}

button {
	color:black;
}

option {
	color: black;
}

input {
	color:black;
}

select {
	color:black;
}

textarea {
	color:black;
}

#header {
	color: white;
	text-align: center;	
 
}

#title {
	font-size: 50px;
}

.sub {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	
	background: -moz-linear-gradient(top,  rgba(10,14,10,0.8) 0%, rgba(10,8,9,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,14,10,0.8)), color-stop(100%,rgba(10,8,9,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0a0e0a', endColorstr='#cc0a0809',GradientType=0 ); /* IE6-9 */
}

.col-md-4{
	text-align: center;
}




.image_title {
	font-size: 20px;
	padding-top: 10px;
}

#text1 {
	color: white;
	padding-left: 50px;
	
	background: -moz-linear-gradient(top,  rgba(10,14,10,0.8) 0%, rgba(10,8,9,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,14,10,0.8)), color-stop(100%,rgba(10,8,9,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(10,14,10,0.8) 0%,rgba(10,8,9,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0a0e0a', endColorstr='#cc0a0809',GradientType=0 ); /* IE6-9 */

}

.text2 {
	max-width: 500px;
}

.section_title {
	color: white;
	font-size: 40px;
	text-align: right;
	padding-right: 30px;
	background: -moz-linear-gradient(top,  rgba(107,107,107,0.8) 0%, rgba(174,188,191,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(107,107,107,0.8)), color-stop(100%,rgba(174,188,191,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(107,107,107,0.8) 0%,rgba(174,188,191,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(107,107,107,0.8) 0%,rgba(174,188,191,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(107,107,107,0.8) 0%,rgba(174,188,191,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(107,107,107,0.8) 0%,rgba(174,188,191,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc6b6b6b', endColorstr='#ccaebcbf',GradientType=0 ); /* IE6-9 */

}

.section_subtitle {
	color: white;
	font-size: 40px;
	text-align: left;
	padding-left: 20px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.8) 3%, rgba(10,8,9,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(3%,rgba(0,0,0,0.8)), color-stop(100%,rgba(10,8,9,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.8) 3%,rgba(10,8,9,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#cc0a0809',GradientType=0 ); /* IE6-9 */

}

.description {
	text-align: left;
}

.display {
	max-height: 300px;
	max-width: 300px;
}



#form {
	width: 100%;
	height: 100%;
	text-align: center;
}



#nav_footer {
		position:fixed;
	   bottom:0;
	   width:100%;
	   height:45px;
}

#nav {
	height: 100%;
	text-align: center;


	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 18%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(18%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 18%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}


nav ul  {
	list-style-type: none;
	max-width: 100%;
	padding-top: 5px;


}

nav ul li {

	margin-right: 70px;


	border-collapse: collapse;
	border-radius: 2px;
	
	
	font-size: 30px;
	display: inline;
}

nav ul li a {
	display: inline-block;
	color: white;
}
